.history {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 48px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #F5F7FB;

}

.history-content-tag {
  padding-top: 26px;
  font-size: 18px;
  padding-bottom: 20px;
}

.history-content-result {
  padding-top: 20px;
}
